[submodule "koios"]
	path = koios
	url = git@github.com:JPewterschmidt/koios.git
[submodule "smhasher"]
	path = smhasher
	url = https://github.com/aappleby/smhasher
[submodule "fifo-lru-cache"]
	path = fifo-lru-cache
	url = git@github.com:JPewterschmidt/fifo-lru-cache.git
